{% extends "admin/layout/login.twig" %}

{% block title %} {{ title }} {% endblock %}

{% block content %}
  <section class="flexbox-container">
    <div class="col-12 d-flex align-items-center justify-content-center" style="margin-top:100px;">
      <div class="col-md-4 col-10 box-shadow-2 p-0">
        <div class="card border-grey border-lighten-3 px-1 py-1 m-0">
          <div class="card-header border-0">
            <div class="card-title text-center">
              <img src="{{ base_url('assets/images/logo/logo.png') }}" alt="branding logo">
              <b>B2B PANEL</b>
            </div>
          </div>
          <div class="card-content">
            <div class="card-body">
              <form class="form-horizontal" action="{{ base_url('admin/login') }}" method="post">
                <input type="hidden" value="{{ csrf_hash }}" name="{{ csrf_token_name }}">
                <fieldset class="form-group position-relative has-icon-left">
                  <input type="text" name="username" class="form-control form-control-user" aria-describedby="emailHelp" placeholder="Kullanıcı Adı">
                  <div class="form-control-position"> <i class="ft-user"></i> </div>
                </fieldset>
                <fieldset class="form-group position-relative has-icon-left">
                  <input type="password" name="password" class="form-control form-control-user" placeholder="Şifre">
                  <div class="form-control-position">
                    <i class="la la-key"></i>
                  </div>
                </fieldset>
                <button type="submit" class="btn btn-outline-primary btn-block"><i class="ft-unlock"></i> Giriş Yap</button>
                <br>
                <div class="form-group text-center">
                    {% if  errorMessage != "" %}
                      <div class="bs-callout-warning  p-2 py-1">
                        {{ errorMessage }}
                      </div>
                    {% endif %}
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
