{% extends "admin/layout/default.twig" %}

{% block content %}
    <form action="{{ formAction }}" method="post">
        <input class="form-control" type="hidden" name="{{ csrfName }}" value="{{ csrfToken }}">
        <div class="row">
            <div class="col-md-12 form-group">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>Modül</th>
                            <th>Eylem</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for moduleKey,module in modules %}
                            <tr>
                                <th>
                                    {{ moduleKey }}
                                    <input type="text" class="form-control" name="modules[{{ moduleKey }}][name]" placeholder="Modül Adı">
                                </th>
                                <td>
                                    <table class="table" width="100%" cellspacing="0">
                                        <tbody>
                                        {% for moduleActionKey, moduleAction in  module %}
                                            <tr>
                                                <td>
                                                    {{ moduleAction }}
                                                    <input type="text" class="form-control" name="modules[{{ moduleKey }}][action][{{ moduleAction }}]" placeholder="Eylem Adı">
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Kaydet</button>
    </form>
{% endblock %}
