<div class="main-menu menu-dark menu-fixed menu-shadow" data-scroll-to-active="true">
  <div class="main-menu-content">
    <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">

      <li class="{{ get_class_name_by_uri(['admin/dashboard'],'active') }}">
        <a href="{{ base_url('admin/dashboard') }}">
          <i class="la la-home"></i>
          <span class="menu-title" data-i18n="nav.dash.main">Dashboard</span>
        </a>
      </li>

      <li class="nav-item {{ get_class_name_by_uri(['todo'],'open') }}">
        <a href="#">
          <i class="ft-menu"></i>
          <span class="menu-title" data-i18n="nav.page_layouts.main">Yapılacaklar</span>
        </a>
        <ul class="menu-content">
          <li class="{{ get_class_name_by_uri(['todo/add'],'active') }}">
            <a class="menu-item" href="{{ base_url('admin/todo/add') }}">
              <i class="ft-chevron-right"></i>
              Ekle
            </a>
          </li>
          <li class="{{ get_class_name_by_uri(['todo/list'],'active') }}">
            <a class="menu-item" href="{{ base_url('admin/todo/list') }}">
              <i class="ft-chevron-right"></i>
              Listele
            </a>
          </li>
        </ul>
      </li>

      <li class="nav-item {{ get_class_name_by_uri(['user','module'],'open') }}">
        <a href="#">
          <i class="ft-menu"></i>
          <span class="menu-title" data-i18n="nav.page_layouts.main">Ayarlar</span>
        </a>
        <ul class="menu-content">
          <li class="">
            <a class="menu-item" href="">
              <i class="ft-chevron-right"></i>
              Kullanıcılar
            </a>
          </li>
          <li class="{{ get_class_name_by_uri(['user/groups','user/group'],'active') }}">
            <a class="menu-item" href="{{ base_url('admin/user/groups') }}">
              <i class="ft-chevron-right"></i>
              Kullanıcı Grupları
            </a>
          </li>
          <li class="{{ get_class_name_by_uri(['modules','module'],'active') }}">
            <a class="menu-item" href="{{ base_url('admin/modules') }}">
              <i class="ft-chevron-right"></i>
              Modüller
            </a>
          </li>
        </ul>
      </li>

    </ul>
  </div>
</div>
